.project-table-wrapper { 
  padding: 20px;   
  overflow-x: auto;  
}

.project-table {
  background: rgb(255, 255, 255);
  .ant-table {
    border-radius: 12px;
  }

  .customer-name {
    display: flex;
    align-items: center;
    gap: 12px;

    .ant-avatar {
      flex-shrink: 0;
    }
  }

  .ant-tag {
    border-radius: 20px;
    padding: 2px 12px;
    font-size: 0.85rem;
  }
}